{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>timetable Application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta name="author" content="INIAD">
    <link href="{% static 'timetable/css/test2.css' %}" rel="stylesheet">
    
  </head>

  <body>
    <script>
        const timetableJsonUrl = "{% static 'timetable/data/timetable.json' %}";
      </script>

    <h1>timetable Application</h1>
    <p>あいうえお</p>
    <a href="{% url 'index' %}">top</a>
    <br>
    <a href="{% url 'test' %}">時間割 デバッグ用</a>
    <br>
    <a href="{% url 'filter' %}">時間割フィルタ デバッグ用</a>


    <h2>時間割</h2>
    <table>
        <tr>
            <th>時間＼曜日</th>
            <th>月曜日</th>
            <th>火曜日</th>
            <th>水曜日</th>
            <th>木曜日</th>
            <th>金曜日</th>
        </tr>
        {% for period in "123456" %}
        <tr>
            <td>{{ period }}限</td>
            {% for day in "月火水木金" %}
            <td class="cell" data-day="{{ day }}曜日" data-period="{{ period }}限"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h3>授業情報</h3>
    <div id="class-info">
        <p>クリックしたマスの授業情報がここに表示されます。</p>
    </div>

    <script type="text/javascript" src="{% static 'timetable/js/test2.js' %}"></script>
  </body>

</html>