/* 複数のページで共通するアイテムはここに記述 */

/*
header
*/
.menu-bar {
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: rgb(118, 118, 118);
    text-align: center;
    justify-content: center;
}

.menu-item {
    list-style: none;
    margin: 10px;
    color: whitesmoke;
    font-size: 18px;
}